{% extends "layout.html" %}
{% block title %}{{ module }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block module_card %}{% set module_name = lms_module_display_name(module)%}

<!-- Card -->
<div class="card card-image align-items-center text-center"
     style="background-image: url(https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
        <div>
            <h5 class="pink-text"><i class="fas fa-chart-pie"></i> {{module_name}}</h5>
            <h3 class="card-title pt-2"><strong>Owner:{% set module_owner =
                get_module_details(module)%}{{module_owner}}</strong></h3>
            <p>{% set module_details = get_module_details(module,'__description__')%}{{module_details}}</p>
            <a class="btn btn-pink"><i class="fas fa-clone left"></i>Details</a>
        </div>
    </div>

</div>
<!-- Card -->

{% endblock %}
{% block content %}
<style>
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
        bottom: .5em;
    }
</style>
<!-- Card -->
<!--data-href="{{url_for('module_create_record_form',module=module) }}" onclick="LmsAdminObj.loadModuleData('GET',this);"-->
<div class="col-md-12 mb-4">
    <div class="card" style="overflow-x: hidden;">
        <div class="card-body" style="overflow-x: scroll;">
            <a type="button" data-toggle="modal" data-target="#fileUploadModal"
               class="btn btn-deep-orange floating btn- px-3 edit float-left"
               title="Bulk Upload" func-type="loadEditRecordForm"><i class="fas fa-layer-group"></i></a>
            <a type="button" class="btn btn-floating btn-purple px-3 edit float-right"
               data-href="{{url_for('module_create_record_form',module=module) }}"
               onclick="LmsAdminObj.loadModuleData('GET',this);" data-toggle="tooltip" title="Add Record"
               func-type="loadEditRecordForm"><i class="fas fa-plus"></i></a>
            <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="th-sm text-center"><b>#</b></th>
                    <th class="th-sm text-center"><b>Edit</b></th>
                    <th class="th-sm text-center"><b>Delete</b></th>
                    {% for header in module_data.headers%}
                    <th class="th-sm text-center"><b>{{header.display_name}}</b></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for row in module_data.data%}
                <tr data-record-id="{{row.id}}">
                    <td class="text-center">{{loop.index}}</td>
                    <td class="text-center" contenteditable="false">
                        <button type="button" class="btn btn-floating btn-warning px-3 edit"
                                data-href="{{url_for('get_module_row_data',module=module,id=row.id)}}"
                                onclick="LmsAdminObj.loadModuleData('GET',this);" data-toggle="tooltip" title="Edit"
                                func-type="loadEditRecordForm"><i class="fas fa-pen"></i></button>
                    </td>
                    <td class="text-center" contenteditable="false">
                        <button type="button" class="btn btn-danger px-3" data-toggle="tooltip" title="Delete"
                        data-href="{{url_for('delete_module_data',module=module,id=row.id)}}"
                                onclick="LmsAdminObj.deleteModuleData('DELETE',this);"
                                func-type="loadDeleteRecord" data-msg-title="Are you sure you want to delete this record?" data-msg-description="On confirmaion the record will be deleted.">
                            <i class="fas fa-trash-alt"></i></button>
                    </td>
                    {% for column_name, value in row.items()%}
                    {% if column_name !='id' %}
                    {% set res_list_dict = check_if_value_is_list_or_dict(value) %}
                    <td>{% if res_list_dict in ['list','dict'] %}
                        {% include 'lms-admin/components/json_table.html'%}
                        {% else %}
                        {{value}}
                        {% endif %}
                    </td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th class="text-center"><b>#</b></th>
                    <th class="text-center"><b>Edit</b></th>
                    <th class="text-center"><b>Delete</b></th>
                    {% for header in module_data.headers%}
                    <th class="text-center"><b>{{header.display_name}}</b></th>
                    {% endfor %}
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

{% endblock %}