{% extends "layout.html" %}
{% block title %}{{ module }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block module_card %}
{% if module %}{{module}}{%endif%}
{% endblock %}
{% block content %}
<div class="col-md-6">
    <!-- Default form register -->
    <form class="text-center border border-light p-5 shadow-lg" method="post" action="{{ url_for('home') }}">
        <p class="h4 mb-4">Create Proxies</p>
        <select id="zone" name="zone" class="browser-default custom-select" required>
            <option value="" style="display: none;">--Which Zone You Want Your Proxies To Be In?--</option>
            <option value="us-east-1">US East (N. Virginia)</option>
            <option value="us-east-2">US East (Ohio)</option>
            <option value="us-west-1">US West (N. California)</option>
            <option value="us-west-2">US West (Oregon)</option>
            <option value="ca-central-1">Canada (Central)</option>
            <option value="eu-central-1">EU (Frankfurt)</option>
            <option value="eu-west-1">EU (Ireland)</option>
            <option value="eu-west-2">EU (London)</option>
            <option value="eu-west-3">EU (Paris)</option>
            <option value="eu-north-1">EU (Stockholm)</option>
        </select>
        <div class="form-group">
            <label for="proxy_count">Number Of Proxies</label>
            <input type="number" name="proxy_count" class="form-control" id="proxy_count" placeholder="Number Of Proxies" min="0" step="1" value="0" max="20">
        </div>
        <button class="btn btn-info my-4 btn-block" type="submit">Create</button>
        <hr>
    </form>
    <!-- Default form register -->
</div>
<div class="col-md-6 border border-light p-5 shadow-lg">
    <center><p class="h4 mb-4">Your Proxies</p></center>
    {% if instances %}
        {%for instance in instances%}
            {{instance.proxy}}:8888 ({{instance.region}}) @ 0.08/hour
            {%if instance.id!='i-0d1407909cad2ee82'%}
            <a class="close" aria-label="Close" href="{{ url_for('delete_instance',id=instance.id)}}"><span aria-hidden="true">×</span></a>
            {%endif%}
        <br>
        {%endfor%}
        Yout total billing will be $ {{total_billing}}/hour for {{total_proxies}} proxies
    {% endif%}
</div>

{% endblock %}