<table class="table">
  <thead class="black white-text">
    <tr>
        {% if res_list_dict == 'dict'%}
            {% for json_column_name, json_value in value.items()%}
                <th scope="col">{{json_column_name}}</th>
            {% endfor %}
        {% endif %}
        {% if res_list_dict == 'list'%}
            {% if value|length > 0 %}
                {% for json_column_name, json_value in value[0].items()%}
                    <th scope="col">{{json_column_name}}</th>
                {% endfor %}
            {% endif %}
        {% endif %}

    </tr>
  </thead>
  <tbody>

      {% if res_list_dict == 'dict'%}
       <tr>
            {% for json_column_name, dict_value in value.items()%}
                <td>
                    {% set res_list_dict = check_if_value_is_list_or_dict(dict_value) %}
                    {% if res_list_dict in ['list','dict']  %}
                        {% set value = dict_value %}
                        {% include 'lms-admin/components/json_table.html'%}
                    {% else %}
                        {{dict_value}}
                    {% endif %}
                </td>
            {% endfor %}
       </tr>
      {% endif %}

      {% if res_list_dict == 'list'%}
            {% for json_row in value %}
            <tr>
                {% for json_column_name, json_value in json_row.items()%}
                <td>
                    {% set res_list_dict = check_if_value_is_list_or_dict(json_value) %}
                    {% if res_list_dict in ['list','dict']  %}
                        {% set value = json_value %}
                        {% include 'lms-admin/components/json_table.html'%}
                    {% else %}
                        {{json_value}}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
       {% endif %}
  </tbody>
</table>
