{% if 'smp-admin@loktra.com' == my_details('email') or 'system@loktra.com' == my_details('email') %}
<div class="col-md-12 mb-4">
    <div class="card">
        <div class="card-body">
            <h1><span class="badge badge-default">Init Modules</span></h1>
            <table class="table table-hover">
                <thead class="blue-grey lighten-4">
                <tr>
                    <th>#</th>
                    <th>Order</th>
                    <th>Module</th>
                    <th>Group</th>
                </tr>
                </thead>
                <tbody>
                {% set counter = 1%}
                {% for module in lms_admin_modules%}
                {% if module.loktra_customer_success_flag==False and module.init_module_flag==True %}
                <tr class="clickable-row" data-href="{{ url_for('list_module_data',module=module.module) }}">
                    <th scope="row">{{counter}}</th>
                    <th>{{ module.index}}</th>
                    <td>{% set module_display_name = lms_module_display_name(module.module) %}
                        {{ module_display_name }}
                    </td>
                    <td>{{ module.group }}</td>
                </tr>
                {% set counter = counter + 1%}
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}

{% if my_details('loktra_customer_success_flag') or 'smp-admin@loktra.com' == my_details('email') or 'system@loktra.com' == my_details('email') %}
<div class="col-md-12 mb-4">
    <div class="card">
        <div class="card-body">
            <h1><span class="badge badge-default">Customer Success Modules</span></h1>
            <table class="table table-hover">
                <thead class="blue lighten-4">
                <tr>
                    <th>#</th>
                    <th>Order</th>
                    <th>Module</th>
                    <th>Group</th>
                </tr>
                </thead>
                <tbody>
                {% set counter = 1%}
                {% for module in lms_admin_modules%}
                {% if module.loktra_customer_success_flag==True%}
                <tr class="clickable-row" data-href="{{ url_for('list_module_data',module=module.module) }}">
                    <th scope="row">{{counter}}</th>
                    <th>{{ module.index}}</th>
                    <td>{% set module_display_name = lms_module_display_name(module.module) %}
                        {{ module_display_name }}
                    </td>
                    <td>{{ module.group }}</td>
                </tr>
                {% set counter = counter + 1%}
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}